*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    padding: 20px;
    /* Position */
    position: fixed;
    z-index: 1;
    right: 10px;
}

nav> li> a{
    /* Style and Shape */
    color: white;
    text-decoration: none;
    list-style: none;
    background-color: #00000082;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 10px;
  
} 

li{
    display: inline-block;
}

section{
    height: 100vh;
    position: relative;
}


div.section_content{
    width: 60vw;
    /* Position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Text Position */
    text-align: center;
}


div.section_content> img{
    width: 100%;
}

div.section_content> h1{
    /* Text: Color and Size */
    color: yellow;
    font-size: 3em;
    text-transform: uppercase;

}


/* Section Colors */

#section_1{
    background-color: tomato;
}

#section_2{
    background-color: #03a9f4;
}

#section_3{
    background-color: #ff9800;
}

